/* _fonts.scss */
@font-face {
    font-family: 'TitilliumRegular';
    src: url('../fonts/titillium-regular.eot');
    src: url('../fonts/titillium-regular.eot') format('embedded-opentype'),
         url('../fonts/titillium-regular.woff') format('woff'),
         url('../fonts/titillium-regular.ttf') format('truetype'),
         url('../fonts/titillium-regular.svg#TitilliumRegular') format('svg');
}


@font-face {
    font-family: 'TitilliumBold';
    src: url('../fonts/titillium-bold.eot');
    src: url('../fonts/titillium-bold.eot') format('embedded-opentype'),
         url('../fonts/titillium-bold.woff') format('woff'),
         url('../fonts/titillium-bold.ttf') format('truetype'),
         url('../fonts/titillium-bold.svg#TitilliumBold') format('svg');
}

