/*
Component: Trendkite Loader
Author: Bryce Thompson
Company: Handsome ATX
Description: An animated loader sequenced via loader.jquery.js. All animations are contained herein.
*/

@import "fonts";
@charset "UTF-8";
@import "compass/css3/transform";
@import "compass/css3";

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

$blue: #4582ac;
$darkblue: #305b78;
$green: #9cbe6f;
$purple: #8873bf;
$turquoise: #45aca4;

/*
Shape of logo mark
*/
div.triangle {
    width: 0;
    height: 0;
    border-bottom: 15px solid $darkblue;
    border-left: 15px solid transparent;
    opacity: 0;
    @include transform(rotateY(180deg));
    @include transform-origin(15px, 15px, 0);
    @include transition(all .8s linear);
    position: absolute;
    
    /*
    Any instance of :after in relation to the DOM element div.triangle 
    is the makeup of the second sequenced triangle within the logo mark
    */
    &:after{
        width: 0;
        height: 0;
        border-bottom: 15px solid $darkblue;
        border-right: 15px solid transparent;
        content: "";
        display: block;
        opacity: 0;
        @include transform(rotateY(-90deg));
        @include transform-origin(0px, 0px);
        @include transition(all .4s linear);
        @include transition-delay(.3s);
    }
    
    /*
    Any instance of :before in relation to the DOM element div.triangle 
    is the makeup of the third sequenced triangle within the logo mark
    */
    &:before{
        border-bottom: 15px solid rgba(0, 0, 0, 0);
        border-left: 15px solid $darkblue;
        content: "";
        display: block;
        height: 0;
        left: 0px;
        position: absolute;
        top: 15px;
        width: 0;
        @include transform(rotateX(-90deg));
        @include transform-origin(0px,0px);
        @include transition(all .4s linear);
        opacity: 0;
    }

}

/*
Initiates flipping sequence for Trendkite mark.
*/

div.flip{
  opacity: 1;
  border-bottom: 15px solid $blue;
  width: 15px;
  @include transition(all .4s linear);
  @include transform(rotateY(0deg));

  &:after{
      opacity: 1;
      border-bottom: 15px solid $blue;
      @include transition(all .4s linear);
      @include transition-delay(.2s);
      @include transform(rotateY(0deg));
  }

  &:before{
    opacity: 1;
    border-left: 15px solid $blue;
    @include transition(all .4s linear);
    @include transform(rotateX(0deg));
    @include transition-delay(.5s);
  }

}

/*
Trendkite Title
*/

h1{
  color: $blue;
  font-family: 'TitilliumRegular';
  font-size: 23px;
  font-weight: normal;
  letter-spacing: 6px;
  margin: 0 0 0 40px;
  opacity: 0;
  padding: 0;
  text-transform: uppercase;
  @include transition(all .4s linear);
  @include transform-origin(0,12px,0);
  @include transition-delay(.3s);
  @include transform(rotateX(90deg));

  span{
    font-family: 'TitilliumBold', sans-serif;
  }

  &.activate{
    @include transition-delay(.5s);
    @include transition(all .4s linear);
    @include transform(rotateX(0deg));
    opacity: 1;
  }
}

/*
Styles and animation for disappearing modal that contains the 
Trendkite loader animation
*/

div.loader-container{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0 auto;
  background-color: rgba(255,255,255,1);
  opacity: 1;

  /*
  Reduces the opacity of the loader and this container
  */
  &.disappear{
    @include transition(.3s all linear);
    opacity: 0;
  }
}

div.logo-container{
   background-color: rgba(0, 0, 0, 0);
   height: 32px;
   left: 50%;
   margin-left: -103px;
   margin-top: -16px;
   position: fixed;
   top: 50%;
   width: 206px;

   /*
   Scales the logo upwards
   */
   &.disappear{
      @include transform(scale(2,2));
      @include transition(.3s all ease-in);
   }
}

/*
Step 2 Color Change -- Changes to Green
*/
div.flip.step2{
  border-right: 15px;
  border-bottom: 15px solid $green;
  border-left: 15px solid transparent;
  @include transition(all .4s linear);
  &:before{
    @include transition(all .4s linear);
    @include transition-delay(.5s);
    border-left: 15px solid $green;
  }

  &:after{
    @include transition(all .4s linear);
    @include transition-delay(.3s);
    border-bottom: 15px solid $green;
  }
  
}

/*
Step 3 Color Change -- Changes to Purple
*/

div.flip.step3{
  border-right: 15px;
  border-bottom: 15px solid $purple;
  border-left: 15px solid transparent;
  @include transition(all .4s linear);
  &:before{
    @include transition(all .4s linear);
    @include transition-delay(.5s);
    border-left: 15px solid $purple;  
  }

  &:after{
    @include transition(all .4s linear);
    @include transition-delay(.3s);
    border-bottom: 15px solid $purple;
  }
  
}

/*
Step 4 Color Change -- Changes to Turquoise
*/
div.flip.step4{
  border-right: 15px;
  border-bottom: 15px solid $turquoise;
  border-left: 15px solid transparent;
  @include transition(all .4s linear);
  &:before{
    @include transition(all .4s linear);
    @include transition-delay(.5s);
    border-left: 15px solid $turquoise;
  }

  &:after{
    @include transition(all .4s linear);
    @include transition-delay(.5s);
    border-bottom: 15px solid $turquoise;
  }
}






