@charset "UTF-8";
/*
Component: Trendkite Loader
Author: Bryce Thompson
Company: Handsome ATX
Description: An animated loader sequenced via loader.jquery.js. All animations are contained herein.
*/
/* _fonts.scss */
@font-face {
  font-family: 'TitilliumRegular';
  src: url("../fonts/titillium-regular.eot");
  src: url("../fonts/titillium-regular.eot") format("embedded-opentype"), url("../fonts/titillium-regular.woff") format("woff"), url("../fonts/titillium-regular.ttf") format("truetype"), url("../fonts/titillium-regular.svg#TitilliumRegular") format("svg");
}

@font-face {
  font-family: 'TitilliumBold';
  src: url("../fonts/titillium-bold.eot");
  src: url("../fonts/titillium-bold.eot") format("embedded-opentype"), url("../fonts/titillium-bold.woff") format("woff"), url("../fonts/titillium-bold.ttf") format("truetype"), url("../fonts/titillium-bold.svg#TitilliumBold") format("svg");
}

/* line 15, ../sass/loader.scss */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*
Shape of logo mark
*/
/* line 30, ../sass/loader.scss */
div.triangle {
  width: 0;
  height: 0;
  border-bottom: 15px solid #305b78;
  border-left: 15px solid transparent;
  opacity: 0;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-transform-origin: 15px 15px 0;
  -moz-transform-origin: 15px 15px 0;
  -ms-transform-origin: 15px 15px 0;
  -o-transform-origin: 15px 15px 0;
  transform-origin: 15px 15px 0;
  -webkit-transition: all 0.8s linear;
  -moz-transition: all 0.8s linear;
  -o-transition: all 0.8s linear;
  transition: all 0.8s linear;
  position: absolute;
  /*
  Any instance of :after in relation to the DOM element div.triangle 
  is the makeup of the second sequenced triangle within the logo mark
  */
  /*
  Any instance of :before in relation to the DOM element div.triangle 
  is the makeup of the third sequenced triangle within the logo mark
  */
}
/* line 45, ../sass/loader.scss */
div.triangle:after {
  width: 0;
  height: 0;
  border-bottom: 15px solid #305b78;
  border-right: 15px solid transparent;
  content: "";
  display: block;
  opacity: 0;
  -webkit-transform: rotateY(-90deg);
  -moz-transform: rotateY(-90deg);
  -ms-transform: rotateY(-90deg);
  -o-transform: rotateY(-90deg);
  transform: rotateY(-90deg);
  -webkit-transform-origin: 0px 0px;
  -moz-transform-origin: 0px 0px;
  -ms-transform-origin: 0px 0px;
  -o-transform-origin: 0px 0px;
  transform-origin: 0px 0px;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
/* line 63, ../sass/loader.scss */
div.triangle:before {
  border-bottom: 15px solid rgba(0, 0, 0, 0);
  border-left: 15px solid #305b78;
  content: "";
  display: block;
  height: 0;
  left: 0px;
  position: absolute;
  top: 15px;
  width: 0;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  -ms-transform: rotateX(-90deg);
  -o-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 0px 0px;
  -moz-transform-origin: 0px 0px;
  -ms-transform-origin: 0px 0px;
  -o-transform-origin: 0px 0px;
  transform-origin: 0px 0px;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
  opacity: 0;
}

/*
Initiates flipping sequence for Trendkite mark.
*/
/* line 85, ../sass/loader.scss */
div.flip {
  opacity: 1;
  border-bottom: 15px solid #4582ac;
  width: 15px;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
/* line 92, ../sass/loader.scss */
div.flip:after {
  opacity: 1;
  border-bottom: 15px solid #4582ac;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
/* line 100, ../sass/loader.scss */
div.flip:before {
  opacity: 1;
  border-left: 15px solid #4582ac;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

/*
Trendkite Title
*/
/* line 114, ../sass/loader.scss */
h1 {
  color: #4582ac;
  font-family: 'TitilliumRegular';
  font-size: 23px;
  font-weight: normal;
  letter-spacing: 6px;
  margin: 0 0 0 40px;
  opacity: 0;
  padding: 0;
  text-transform: uppercase;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
  -webkit-transform-origin: 0 12px 0;
  -moz-transform-origin: 0 12px 0;
  -ms-transform-origin: 0 12px 0;
  -o-transform-origin: 0 12px 0;
  transform-origin: 0 12px 0;
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  transform: rotateX(90deg);
}
/* line 129, ../sass/loader.scss */
h1 span {
  font-family: 'TitilliumBold', sans-serif;
}
/* line 133, ../sass/loader.scss */
h1.activate {
  -webkit-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  transform: rotateX(0deg);
  opacity: 1;
}

/*
Styles and animation for disappearing modal that contains the 
Trendkite loader animation
*/
/* line 146, ../sass/loader.scss */
div.loader-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0 auto;
  background-color: white;
  opacity: 1;
  /*
  Reduces the opacity of the loader and this container
  */
}
/* line 159, ../sass/loader.scss */
div.loader-container.disappear {
  -webkit-transition: 0.3s all linear;
  -moz-transition: 0.3s all linear;
  -o-transition: 0.3s all linear;
  transition: 0.3s all linear;
  opacity: 0;
}

/* line 165, ../sass/loader.scss */
div.logo-container {
  background-color: rgba(0, 0, 0, 0);
  height: 32px;
  left: 50%;
  margin-left: -103px;
  margin-top: -16px;
  position: fixed;
  top: 50%;
  width: 206px;
  /*
  Scales the logo upwards
  */
}
/* line 178, ../sass/loader.scss */
div.logo-container.disappear {
  -webkit-transform: scale(2, 2);
  -moz-transform: scale(2, 2);
  -ms-transform: scale(2, 2);
  -o-transform: scale(2, 2);
  transform: scale(2, 2);
  -webkit-transition: 0.3s all ease-in;
  -moz-transition: 0.3s all ease-in;
  -o-transition: 0.3s all ease-in;
  transition: 0.3s all ease-in;
}

/*
Step 2 Color Change -- Changes to Green
*/
/* line 187, ../sass/loader.scss */
div.flip.step2 {
  border-right: 15px;
  border-bottom: 15px solid #9cbe6f;
  border-left: 15px solid transparent;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
/* line 192, ../sass/loader.scss */
div.flip.step2:before {
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
  -webkit-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
  border-left: 15px solid #9cbe6f;
}
/* line 198, ../sass/loader.scss */
div.flip.step2:after {
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
  border-bottom: 15px solid #9cbe6f;
}

/*
Step 3 Color Change -- Changes to Purple
*/
/* line 210, ../sass/loader.scss */
div.flip.step3 {
  border-right: 15px;
  border-bottom: 15px solid #8873bf;
  border-left: 15px solid transparent;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
/* line 215, ../sass/loader.scss */
div.flip.step3:before {
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
  -webkit-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
  border-left: 15px solid #8873bf;
}
/* line 221, ../sass/loader.scss */
div.flip.step3:after {
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
  border-bottom: 15px solid #8873bf;
}

/*
Step 4 Color Change -- Changes to Turquoise
*/
/* line 232, ../sass/loader.scss */
div.flip.step4 {
  border-right: 15px;
  border-bottom: 15px solid #45aca4;
  border-left: 15px solid transparent;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
/* line 237, ../sass/loader.scss */
div.flip.step4:before {
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
  -webkit-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
  border-left: 15px solid #45aca4;
}
/* line 243, ../sass/loader.scss */
div.flip.step4:after {
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
  -webkit-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
  border-bottom: 15px solid #45aca4;
}
